[2014-04-07 15:30] dafyddcrosby opened #1 "Gem homepage gives a 404"
The current homepage at https://github.com/jkeiser/chef-metal-fog/blob/master/chef-metal-fog.gemspec#L13 shows the wrong URL. I'm assuming with the docker and lxc chef-metal repos in opscode, this will also find its way there?

[2014-04-07 16:09] #1 closed, assigned to nobody

[2014-05-25 19:55] marcusn opened #11 "Add interface for FogProvider"
There should be an interface (FogProvider or simliar) that encapsulates all the case classes in the fog driver. Subclasses should be instantiated as a "provider" in the fog driver instance, where all provider specific logic is delegated. This should include the acquire ip stuff, which I believe is openstack specific?

This would make it much easier to add a new provider.

[2014-06-19 16:44] #11 closed, assigned to nobody

[2014-06-19 18:58] reesew opened #26 "fails to authenticate (chef server 10.18.2)"
AWS instances don't finish the bootstrap process, they fail with a 401 status when attempting to authenticate to the chef server with /etc/chef/client.pem. I've double checked and even regenerated the validation.pem on the chef server. After a machine fails to run chef-client, I copy the same private key as specified by `validation_key` in knife.rb to the machine, delete client.pem, and rerun chef

[2014-06-24 20:21] annymsMthd opened #28 "Add winrm support to fog driver"

[2014-07-08 20:19] cfortier2 opened #31 "uninitialized class variable @@use_pkcs8"
Following the documentation I have a block like:

[code]

When I attempt to converge I get this error:

[code]

[2014-07-09 13:46] #31 closed, assigned to nobody

[2014-07-10 04:21] jdblack opened #32 "chef-meta-fog w/ digital ocean errors with "NoMethodError: undefined method `parallel_do' for #<Chef::ChefFS::Parallelizer:0xxxx>""
Chef-metal is working for me with chef-metal-vagrant. Also, knife digitalocean is working for me (except to list images, but I can see  instances and nodes fine).

However, attempting to use knife-metal-fog is not working with digital ocean.  I would try linode as well, but I haven't found good instructions yet on how to do so.

## bootstrap
[code]

## digital_linux.rb
[code]

## simple.rb
[code]

[2014-07-19 19:22] jkeiser opened #35 "Fog URL sometimes gets set to empty region"
A user encountered a situation where they used driver "fog:AWS" and had AWS_ACCESS_KEY_ID and AWS_SECRET_KEY set, as well as a ~/.aws/config with a default profile with no region.  They created a server and its driver_url got stashed as "fog:AWS:12471238123:"

Two problems:

- first, it's weird we didn't know the region and we probably should figure that out
- second, there's no reason we can't pa

[2014-08-04 18:54] irvingpop opened #38 "Be nicer when machine_options[:bootstrap_options] doesn't exist"
here: https://github.com/opscode/chef-metal-fog/blob/master/lib/chef_metal_fog/providers/aws.rb#L24

Currently a confounding error

[code]

[2014-08-05 18:06] wrightp opened #39 "add public ip / dns to node data (ec2)"
This likely applies to other cloud platforms, but the urgent need is specific to ec2.

Once the instances are launched and the public IPs (and DNS if available) are generated it would be really useful if the local node data for those instances get updated with the information.

Not sure if the capability is there now, and must be called explicitly, but perhaps it makes sense for this to be the def

[2014-08-07 13:49] schisamo opened #41 "Support loading AWS credentials from ~/.aws/credentials"
Amazon's tooling now looks for default credentials at `~/.aws/credentials`:

http://docs.aws.amazon.com/AWSSdkDocsRuby/latest/DeveloperGuide/prog-basics-creds.html
http://docs.aws.amazon.com/AWSJavaScriptSDK/guide/node-configuring.html
http://docs.aws.amazon.com/aws-sdk-php/guide/latest/quick-start.html
http://docs.aws.amazon.com/cli/latest/userguide/cli-chap-getting-started.html

We should probab

[2014-08-18 23:35] jkeiser opened #42 "Find better fog:aws URL format for Eucalyptus"
Right now, you have to specify driver options for something that should really be part of the driver URL:

[code]

We should coordinate something that uses the URLs as part of the driver URL.

[2014-08-18 23:41] jkeiser opened #43 "Make provider name case insensitive"
fog:AWS and fog:aws should BOTH work.

[2014-08-19 23:00] #39 closed, assigned to nobody

[2014-08-20 16:23] johnewart opened #44 "Remove EBS when removing compute"
But provide an option to persist storage if the user wants to

[2014-08-20 18:12] johnewart opened #45 "Default fog instance"
Don't use Ubuntu 10.04 - should in the future track latest LTS

[2014-08-21 21:10] #45 closed, assigned to nobody

[2014-08-21 22:43] #38 closed, assigned to nobody

[2014-09-03 18:31] BetaKevin opened #48 "attach_ip_from_pool and attach_ip updates in fog_driver.rb"
I'm having issues with the functions attach_ip_from_pool and attach_ip in fog_driver.rb when deploying to OpenStack.  According to the comments they were taken from https://github.com/test-kitchen/kitchen-openstack/blob/master/lib/kitchen/driver/openstack.rb but the functions in this location have been updated.  Replacing these functions with the updates ones fixes my issue.  I wasn't able to test

[2014-09-08 18:55] MrMMorris opened #50 "undefined method `join' for Chef::Util::PathHelper:Class"
Just started running into this error. I haven't changed any of my recipe. Here is the output:

[code]

[2014-09-08 20:48] #50 closed, assigned to nobody

[2014-09-09 20:20] nathenharvey opened #52 "When driver is specified but not region, driver_url does not contain region"
When driver is specified but the region is missing, the driver_url gets set without a region.

    "metal": {
        "location": {
          "driver_url": "fog:AWS:862552916454:",
          "driver_version": "0.9",
          "server_id": "i-b653b958",
          "creator": "user/nathenharvey",
          "allocated_at": 1410281374,
          "key_name": "chef-nathenharvey"
        }
      }
    ...

[2014-09-09 20:23] nathenharvey opened #53 "driver_url without a region fails with terrible error message"
When driver_url does not contain region, e.g. `"driver_url": "fog:AWS:862552916454:"`, the machine resource will fail with the following error:

[code]

A better error message should be displayed for easier troubleshooting.

[2014-09-09 20:26] nathenharvey opened #54 "Not using AWS_DEFAULT_REGION environment variable"
By [convention](https://github.com/aws/aws-cli#other-configurable-variables) AWS expects the environment variable that specifies the region to be named `AWS_DEFAULT_REGION`

The value of this environment variable should be used to when specifying driver options from environment variables.

[2014-09-11 20:00] #54 closed, assigned to nobody

[2014-09-17 05:53] jdblack opened #56 "tugboatrc seems to override with_machine_options in bad ways"
Despite not setting an image default in .tugboatrc, and setting an image_name within machine_options, it seems that imageid is defaulting to 0.

~/.tugboatrc
[code]

linuxguru::simple_stack
[code]

root@comet
~$ chef-client -r 'linuxguru::stack_simple'
[2014-09-16T22:50:40-07:00] WARN:
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
SSL validation of HTTPS requests

[2014-09-19 23:37] justindossey opened #57 "Providers::AWS calls nonexistent Cheffish::MergedConfig#delete"
in `Providers::AWS.get_aws_credentials`,  the `driver_options` `:aws_config_file` and `:aws_csv_file` are loaded using:

[code]
In this context, `driver_options` is an instance of `Cheffish::MergedConfig`, which does not support a `delete` method.  Therefore, `:aws_config_file` and `:aws_csv_file` do not work.

[2014-09-29 23:20] rberger opened #60 "Bug calling find_aws_profile_for_account_id with iam_endpoint and not default_iam_endpoint"
Not sure why I'm seeing this and everyone else isn't but there is a point in the aws provider where AWS#find_aws_profile_for_account_id is calle with iam_endpoint but that is not defined anywhere in the scope of where its called. I created a pull request #59 with a fix (used default_iam_endpoint instead)

[2014-09-30 06:20] rberger opened #61 "AWS#convergence_strategy_for can be called with machine_options[:convergence_options] == nil"
I have a recipe that does a destroy on a machine. Something like:

[code]

I am using profiles in my knife.rb. The Profile being used:

[code]

For some reason, at least in this case, the `machine_options[:convergence_options]` is nil by the time it hits `AWS#convergence_stragegy` in the`providers/aws.rb`. Thus causing it to abort since it trys to access a hash as the value of `machine_options[:co

[2014-10-05 16:27] jtimberman opened #62 "Better message about inability to connect"
I'm opening this issue as requested by @jkeiser so we don't forget to get it fixed.

The situation:

I was creating EC2 instances with chef-metal-fog from an IP address that I hadn't added to the default security group (oops!) for SSH. The connection was timing out, and metal was rebooting the instance. Given network partition errors this is expected behavior, but it was a pattern that we could at

[2014-10-31 21:59] #60 closed, assigned to nobody

[2014-10-31 21:59] #61 closed, assigned to nobody

[2014-11-06 04:27] #28 closed, assigned to nobody

[2014-11-20 00:29] lynchc opened #70 "Unable to associate EIP with aws provider"
I may be wrong here, but I don't see a way to do this with the aws bootstrap options. The base provider has methods to complete this.

[2014-11-26 19:39] mikelococo opened #72 "Fails when using with_fog_driver()"
chef-provisioning works happily when using openstack configured via with_driver() as below:

[code]

But when specifying an equivalent config via with_fog_driver() it fails:
[code]

The first issue is that driver is referred to by the old naming convention:
[code]

I was going to submit a PR to fix this, but it stil doesn't work. After fixing the above, the all the compute_options except for drive

[2014-12-02 14:30] pburkholder opened #75 "Add support for Google Cloud Engine (GCE)"
I have work started on this at https://github.com/pburkholder/chef-provisioning-fog/tree/pdb/gce. Opening this issue here in case anyone wants to contribute to my work, as it's not yet ready for merging into this project.

[2014-12-03 19:58] zambon opened #76 "Uninitialized constant ActionFailed"
When trying to boot a server and attach a floating IP from a pool that doesn't have any IP addresses left, I get the following error from [driver.rb:453](https://github.com/opscode/chef-provisioning-fog/blob/master/lib/chef/provisioning/fog_driver/driver.rb#L453).

[code]

[2014-12-03 20:01] zambon opened #77 "Attaching floating IP addresses"
[driver.rb:462](https://github.com/opscode/chef-provisioning-fog/blob/master/lib/chef/provisioning/fog_driver/driver.rb#L462) defines a method to attach a floating IP to a server that takes 3 arguments.

[driver.rb:455](https://github.com/opscode/chef-provisioning-fog/blob/master/lib/chef/provisioning/fog_driver/driver.rb#L455) invokes it with 2 arguments only.

An exception is raised when I try t

[2014-12-09 01:18] Afterglow opened #78 "Unable to set convergence_options with AWS driver"
I am attempting to set the chef_version in the convergence options and while it works with my vagrant driver it does not work with the AWS driver. I am unable initially to see what the problem is beyond that machine_options[:convergence_options] is a hash if I don't specify any options of my own and a MergedConfig if I do. This appears to cause a failure in the aws driver when it attempts to set t

[2014-12-26 20:37] justindossey opened #80 "IAM roles for provisioning unsupported"
Feature request:
While it is trivial to map an IAM role to a node Chef Provisioning is creating, there is not support for using an IAM role in lieu of AWS credentials on the provisioner node (the one running Chef Provisioning).

It would be nice to be able to set the driver URL to something like `fog:AWS:IAM:us-west-2` to tell Chef Provisioning-Fog to use local IAM credentials instead of looking f

[2015-01-12 17:06] xeon22 opened #83 "Unable to set user_data when is_windows = true"
When the [is_windows](https://github.com/opscode/chef-provisioning-fog/blob/master/lib/chef/provisioning/fog_driver/providers/aws.rb#L134-L138) option is set to true and the driver is AWS, the user_data option is supplied by a [hard coded](https://github.com/opscode/chef-provisioning-fog/blob/master/lib/chef/provisioning/fog_driver/providers/aws.rb#L403-L421) value.

[2015-01-15 19:33] #80 closed

[2015-01-28 18:53] nspottsie opened #84 "AWS EC2 Windows Server 2012 R2 User Data Error"
Attempting to create a Windows Server 2012 R2 instance in the us-east-1 region with ami-c4fe9aac fails

**Steps to Reproduce**
1. Create machine resource in an AWS account using AMI provided
2. Instance launches as expected
3. WinRM fails to connect, chef-client is not installed
4. Login to machine
5. Inspect meta-data to ensure that the user_data script was passed correctly: http://169.254.169.25

[2015-02-16 05:12] mbrukman commented on #75
What's the status of this work? @pburkholder, as you still working on this?

Is there a guide for writing support for new provisioners that one can refer to?

Also, I noticed that at least the [AWS provisioner](https://github.com/chef/chef-provisioning-aws) is written separately, rather than via Fog, "for a variety of reasons" (per the repo). What are the guidelines for choosing whether to impleme

[2015-02-18 02:40] pburkholder commented on #75
I got really frustrated working with fog, so started working on a chef-provisioning-gce (modelled on chef-provisioning-aws), then realized I didn't know what I was doing, so set the work aside for a bit.

The choice of provisioner is up to you, and to whomever has the time and impetus to write them. Fog only gets you so far before you're wrestling with the inconsistent implementation of some Cloud

[2015-02-18 15:31] msonnabaum commented on #35
This bug also hit me pretty hard.

In my case, I don't have a ~/.aws/config, but I do have AWS_ACCESS_KEY_ID, AWS_SECRET_KEY, and AWS_DEFAULT_REGION set.

My nodes were created with an earlier version of chef-metal-fog (I believe 0.4), and they all have the region-less driver_url. I upgraded to chef-provisioning-fog 0.12 to fix another issue, and then ran into this.

I added some logging, and it a

[2015-02-20 17:22] Sliim commented on #77
:+1:

[2015-02-20 17:33] Sliim commented on #77
I have the same issue with OpenStack provider.

Here is the content of my `chef-stacktrace.out`:
[code]

Proposed PR fix this issue..

[2015-02-20 18:06] #57 closed

[2015-02-20 18:48] #48 closed

[2015-02-20 18:57] jkeiser commented on #77
@Sliim I think  https://github.com/chef/chef-provisioning-fog/pull/47 is the fix for OpenStack ... would you mind giving that a try?  If it does work, we'll merge it (we're working on reproing right now).

[2015-02-20 21:17] jkeiser commented on #83
This is a reasonable ask.  Out of curiosity, what do you want to add to the user_data?

[2015-02-21 03:46] Sliim commented on #77
Hi @jkeiser,
Yeah, I merged #47 changes into the actual HEAD (`930eb79`) and it fix this issue for the OpenStack provider :).

But @zambon mentioned the `driver.rb` file, where I also think there is an error for the `attach_ip` method, so it's good for OpenStack provider, but the bug is still present..

Thx

[2015-02-21 06:24] jkeiser commented on #77
@sliim damn straight.  I see what you're pointing at.  I kept looking at the other `attach_ip` for some reason.

[2015-02-21 06:28] jkeiser commented on #77
@zambon, the thing I'm not understanding here is whether we do, or do not, need the `:allocation_id`.  The patch feels like a loss of information (like, we should have flipped the patch and turned on allocation_id for the other caller).  But I'll bone up on floating IPs on Monday and figure it out if you don't end up getting a chance to reply :)  I appreciate the patch!

[2015-02-21 06:37] jkeiser commented on #84
@fnichol you are deep in this stuff right now ... does this look at all familiar to you?

@nspottsie do you get the same issue with chef-provisioning-aws?  Now that it's up to snuff, we're starting to move to that as our permanent AWS driver instead of fog.

[2015-02-22 01:49] xeon22 commented on #83
Mainly to add some custom powershell to the user-data.  In this case, I wanted the ability to rename the machine to what is passed in to the machine resource.  I just figured it would be useful to be able to override what is currently defined.

[2015-02-22 06:27] jkeiser commented on #41
We now support it, yay!

[2015-02-22 06:27] #41 closed

[2015-02-23 15:16] tyler-ball commented on #77
@jkeiser I think `:allocation_id` is only needed for AWS.  Because we want to stop using fog with aws and start having people use chef-provisioning-aws, I removed `:allocation_id` from my local working copy.

[2015-02-23 23:23] zambon commented on #77
Hey @jkeiser, if memory serves, `allocation_id` is optional for OpenStack. @bsteinfeld's patch assumes the given floating IP address is available and associates it.

A reason for having the other caller use `allocation_id` would be to create a new floating IP address and then associating it. Therefore, don't think it makes sense to have both the `allocation_id` and `ip` as arguments.

[2015-02-24 19:10] jkeiser commented on #78
@Afterglow it looks like the fix for this was merged ... I am going to close, but if it's not fixing it for you, feel free to reopen!

[2015-02-24 19:10] #78 closed

[2015-02-26 00:08] joelwilson commented on #84
I am running into the same problem.

@jkeiser The problem likely exists in chef-provisioning-aws as well. It looks like a copy/paste job: [aws_driver/driver.rb](https://github.com/chef/chef-provisioning-aws/blob/ce70690391fa9d384e657b84a46a5fa49a518597/lib/chef/provisioning/aws_driver/driver.rb#L275-L288).

[2015-02-26 01:21] tyler-ball commented on #77
Can anyone who has this issue speak to their Openstack setup?  Mainly, do you know if it is Nova or Neutron networking, and what version of Openstack is it?  I want to make sure I am testing against the correct configuration.

[2015-02-26 02:10] nspottsie commented on #84
Unfortunately, I can't seem to get chef-provisioning-aws to create a windows machine (regardless of my bootstrap options, the driver seems to think that the machine is Linux and will try SSH instead of WinRM)

Joel is correct, the chef-provisioning-aws has the same user-data error.

I am a .NET guy, but will try to see if I can dig in here and get to source of my chef-provisioning-aws problem in o

[2015-02-26 06:35] jkeiser commented on #32
What I can say for sure is that `parallel_do` is working on DigitalOcean at the moment.  Can you retry and post a stack trace if it's still failing for you?  Thanks!

[2015-02-26 06:35] jkeiser commented on #32
More specifically, machine_batch is working at the moment.  I've got green all the way.

[2015-02-26 06:39] jdblack commented on #32
Oh I all but forgot about this. You gave me the solution ages ago! I think
it was a bad machine type id?

Thanks much!

Regards!
On Feb 25, 2015 10:35 PM, "John Keiser" <notifications@github.com> wrote:

[2015-02-26 06:46] jkeiser commented on #32
Awesome!  Thanks much :)

[2015-02-26 06:46] #32 closed

[2015-02-26 06:51] jkeiser commented on #76
@tyler-ball pretty sure you have a fix for this in the hopper.

[2015-02-26 06:52] jkeiser commented on #76
I am fairly sure this is fixed by https://github.com/chef/chef-provisioning-fog/pull/86

[2015-02-26 06:56] jkeiser commented on #56
This should be fixed with https://github.com/chef/chef-provisioning-fog/pull/87

[2015-02-26 22:52] tyler-ball commented on #76
Correct - @zambon can you try with my branch from #86 and see if you still get the error?  If you don't, lets go ahead and close this because I'll merge that other branch soon.

[2015-02-27 00:57] #56 closed

[2015-02-27 04:20] zambon commented on #77
I used OpenStack Juno ([2014.2.1](https://wiki.openstack.org/wiki/ReleaseNotes/2014.2.1)) with Nova networking.

[2015-02-28 16:38] jkeiser commented on #77
@tyler-ball I'm moving this out of In Progress into Backlog so we get a clearer idea of what's actually In Progress.  I'm assuming this is fixed by #86; if it isn't, please move it back :)

[2015-03-03 15:51] #77 closed

[2015-03-03 22:09] #76 closed

[2015-03-04 18:31] hh opened #90 "Digital Ocean config select(ions) should fail gracefully"
https://github.com/chef/chef-provisioning-fog/blob/master/lib/chef/provisioning/fog_driver/providers/digitalocean.rb#L40-55

The selects that don't find anything should throw an error that let's folks know they have an invalid config.

compute.*.select {}.first.id

Otherwise you get a null doesn't have id error.

[2015-03-04 19:20] hh commented on #90
#91 should resolve this, but wouldn't mind a review :)

[2015-03-12 20:54] joelwilson commented on #83
:+1:  I am throwing in my support for this request as well. I ran into the hard-coded winrm per-shell memory limit (300MB) which stopped me from being able to converge a windows Jenkins slave when the recipe executed a Java which wanted to reserve 2GB of heap. It would be nice if the winrm settings were attached to some attributes and/or the user_data is settable.

[2015-03-13 20:31] nspottsie commented on #84
The current version of chef-provisioning-aws is working for us on Windows instances now using the latest master code. Thanks for looking into this...

[2015-03-13 20:31] #84 closed

[2015-03-19 20:43] irvingpop opened #92 "Documentation says to require 'chef/provisioning/fog_driver' but you actually must load 'chef/provisioning/fog_driver/driver'"
This seems weird and out of sync with the other chef-provisioning drivers (or maybe I haven't looked at them all yet).

[code]

[2015-03-23 16:07] pburkholder commented on #75
This work is currently STALLED. Please feel free to poke me if you want to see it worked on again.

[2015-03-24 18:18] joelwilson commented on #84
Please re-open this issue. The problem still exists in the chef-provisioning-fog driver. The chef-provisioning-aws [user_data](https://github.com/chef/chef-provisioning-aws/blob/master/lib/chef/provisioning/aws_driver/driver.rb#L389) is still identical to the chef-provisioning-fog [user_data](https://github.com/chef/chef-provisioning-fog/blob/master/lib/chef/provisioning/fog_driver/providers/aws.r

[2015-04-09 14:32] kri5 commented on #75
@pburkholder Do you still plan to work on chef-provisioning-gce?

[2015-04-09 14:39] erjohnso commented on #75
@tyler-ball has started working on a GCE specific version at https://github.com/someara/chef-provisioning-google

[2015-04-16 14:37] StFS opened #95 "fog driver not working for alternative ec2_endpoint"
I've set up a very simple test project to demonstrate this problem. It can be found at:
https://github.com/nextcode-health/qstack-chef-provisioning

I'm trying to point the fog:AWS driver to an ec2_endpoint for our local cloud cluster which is set up with QStack (https://qstack.com/) which has an EC2 compatable API. I've verified that aws-cli works against QStack so it should work with Fog as well

[2015-04-16 14:38] StFS commented on #95
You can see it in the project I linked to but the way I'm setting up the driver is below:

[code]

[2015-04-17 12:31] StFS commented on #95
I got some help with this from GreenQloud personnel and they figured out what was wrong and a workaround.

Basically, chef-provisioning-fog doesn't provide any way for you to skip the IAM service request.

Below is a very ugly workaround but the fog driver should make the IAM service optional.

[code]

[2015-04-21 21:08] bplunkert commented on #92
I think the usage around this may have changed recently. Instead of the above I use this slightly simpler method:
```require 'chef/provisioning'```

Then before running ```chef-client -z``` I do: ```export CHEF_DRIVER=fog:DigitalOcean```.

My Gemfile:
[code]

[2015-05-18 21:11] rmoriz opened #100 "Support reading DigitalOcean credentials out of knife.rb"
as used by:
https://github.com/rmoriz/knife-digital_ocean#configuration

[2015-05-18 21:18] rmoriz commented on #100
seems fog only support the deprecated v1 of DO. This will probably hurt us…

[2015-05-20 23:59] irvingpop commented on #92
so, FWIW, this project's own spec tests fail with the same error (facepalm)

[code]

[2015-06-08 14:33] erjohnso commented on #75
Moved to official new home [https://github.com/chef/chef-provisioning-google].  I think this issue can be closed (although there's still a good bit of work to do on the new plugin).

[2015-06-08 20:52] tyler-ball commented on #75
Yup - I'm going to close this in favor of what @erjohnso mentioned

[2015-06-08 20:52] #75 closed

[2015-06-18 12:48] epcim opened #104 "[enhancement][openstack] abstrackt usage of image_id to ref or id"
example for openstack:
instead of populating image_ref/flavor_ref/key_name with ID or Full URL (as specified here: ) provide a way to populate chef-configuration with a image refference which = image name in os.

instead of:
[code]

do:
[code]

[2015-06-18 12:55] epcim opened #105 "[openstack] missuse of OS key_name attribute to search for r usessh key under .chef/keys or ~/.ssh"
[code]

You should not expect that user has the key stored under .chef/keys or ~/.ssh under the same name as key_name in openstack. We should use ssh-agent or provide an option to specify ssh_key_path.

See the example as kitchen-openstack does: https://github.com/test-kitchen/kitchen-openstack

[2015-06-18 17:24] epcim opened #106 "[openstack] timeout calculation"
I am sorry if I am not correct, I am not a everyday rubyist. We store `'starded_at'` as `Time.now.to_i` but later we subtract from `Time.now.utc` assuming local time is in UTC as well.

https://github.com/chef/chef-provisioning-fog/blob/ebd78fae4b4582c5abd284b1cbe9954e425f2eda/lib/chef/provisioning/fog_driver/driver.rb#L212

http://ruby-doc.org/stdlib-2.1.1/libdoc/time/rdoc/Time.html

[2015-06-18 17:56] randomcamel commented on #106
This is a clearer example, and does indeed look like it's wrong.

    https://github.com/chef/chef-provisioning-fog/blob/ebd78fae4b4582c5abd284b1cbe9954e425f2eda/lib/chef/provisioning/fog_driver/driver.rb#L372

[2015-06-22 22:22] brumschlag opened #108 "Add a easy way for users to get a machine’s attributes, like connection information"
We need an easy way to get a machine's attributes after it has been provisioned.

Something like machine['ipaddress'].

At the moment we need to query the node on the chef-server to get what we want.

[2015-07-03 16:17] #62 closed

[2015-07-07 09:01] epcim commented on #108
+1

[2015-07-07 09:12] epcim opened #111 "[openstack] you can't disassociate 'auto' assigned floating_ip"
At:
https://github.com/chef/chef-provisioning-fog/blob/master/lib/chef/provisioning/fog_driver/driver.rb#L469

Openstack (Kilo with nova networking) rejects to disassociate 'auto' assigned floating_ip (defined in /etc/nova/nova.conf). Assuming we can't recognize auto assigned ip addresses I suggest to catch all errors and survive during the floating_ip removal sanitize phase.

Steps to reproduce:

[2015-08-10 21:27] hulu1522 opened #116 "Driver 'location' hash issue"
I tried to converge using a different `:ssh_username` but got an error that was a little strange.

[code]
As you can see there is missing information which was funny.  I went and changed the attribute only to see the same error.  I noticed that there was a `chef_provisioning.reference` hash with the information.  I compared this to the AWS driver and sure enough the file has not been updated to ma

[2015-08-12 14:51] #116 closed

[2015-08-12 19:32] hulu1522 opened #118 "Undefined Method `addresses' for Joyent Driver"
This error still exists when converging using the Joyent driver.  It is missing a method but PR #93 has been waiting that fixes this issue.  Should be an easy one to fix.  Thanks.

Converge Error:
[code]

[2015-08-31 17:09] hh opened #119 "Digitial Ocean v1 provisioning will stop working November 15th, 2015"
Fog currently uses the [Digital Ocean v1 API](https://github.com/fog/fog/blob/master/lib/fog/digitalocean/examples/getting_started.md#getting-started-the-compute-service) but it will be turned off on [November 1st, 2015](https://developers.digitalocean.com/documentation/changelog/api-v1/sunsetting-api-v1/)

There is [fog fork/branch](https://github.com/phillbaker/fog/tree/feature/digitalocean-v2/)

[2015-09-01 07:18] seanhandley commented on #119
Nice one @hh

Is this something you'd like to get merged into master @phillbaker ? At a glance, the branch looks decent (though I'm not personally very familiar with the DO API itself).

[2015-09-07 19:07] hh commented on #119
If we (as a community, or any company who needs to make it a priority) have any funds anywhere to allocate to this, I'd be willing to pick it up if we don't hear from @phillbaker
My focus is currently elsewhere, as I have to pay rent. ;)

[2015-09-10 01:43] bdangit commented on #104
this might be hard to achieve as I'm sure the image_ids are different across Openstack implementations. unless there is already an attribute that allows you to specify the "name".

[2015-09-10 01:44] bdangit commented on #105
:+1:

[2015-09-10 14:11] bbgobie opened #122 "Bootstrapping requires node to have internet access"
Currently boostrapping requires that the node have internet access to install the client.
Would be nice to automatically check, and if it doesn't, push the client from the machine doing the provisioning, or provide a resource for it like a local artifactory.

[2015-09-10 17:46] hh commented on #119
We could also write a chef-provisioning-digitalocean using https://github.com/digitalocean/droplet_kit might

[2015-09-13 05:01] gdud opened #123 ""affinity is required for this operation" when trying to create new VM using XenServer provider"
When I'm trying to create new virtual miachine using XenServer provider, I'm getting an error on the very beggining of the chef run:

[code]

Looks like the affinity argument is not passing to the Fox XenServer module, but it is required.

fog/compute/xen_server/requests/set_affinity_server.rb:
[code]

[2015-09-19 11:20] djoos opened #124 "Rackspace - support for RackConnect"
Hi there,

it would be amazing to get support for RackConnect in the driver as currently our machine creates are interrupted when RackConnect "kicks in" and changes the public IP of the machine...

knife-rackspace supports [RackConnect v2](https://github.com/chef/knife-rackspace/blob/master/README.rdoc#knife-and-rackconnect-version-2) and [RackConnect v3](https://github.com/chef/knife-rackspace/bl

[2015-09-19 13:29] djoos commented on #124
FYI: here's knife-rackspace's [work-around](https://github.com/chef/knife-rackspace/pull/42/files) for the RackConnect issue.

[2015-09-19 16:12] djoos commented on #124
Ok, so: I've tried to make use of the transport_address_location => :private_ip  (+ deprecated use_private_ip_for_ssh => true) to get round the RackConnect public IP change, but this didn't work either...

Thanks in advance for your feedback!

Kind regards,
David

[2015-09-29 13:24] epcim opened #127 "Simple example fails with :transport_options required [openstack]"
I have had working chef-provisionig recipe, after an upgrade to lates chefdk it stoped working. Seems there were introduced `machine_options :transport_options` in recent chef-provisioning, which are not resolved in the "fog" providers (or at least openstack).

In general, transport_options are for SSH driver filled with info like:
[code]

Well for openstack, when before `action :allocate` no mach

[2015-09-29 15:59] jjasghar commented on #127
I'm going to attempt to repo this today 9/29.

[2015-09-29 16:22] epcim commented on #127
taking back, my fault - as one of my rake overrides loaded a recipe loading `chef/provisioning/ssh_driver` together with `fog:openstack` driver.

Note: :transport_options comes from chef-provisioning-ssh driver, documented here - https://github.com/chef/chef-provisioning-ssh

[2015-09-29 16:22] #127 closed

[2015-10-02 12:02] aberrios85 opened #128 "Provider Linode"
Anyone working on fog_driver/providers/linode.rb ? I'm probably going to start on it or if someone has something I'll contribute....

[2015-10-04 13:01] martinb3 opened #129 "[fog][DEPRECATION] Passing the public key as the 2nd arg is deprecated, please pass a hash of attributes."
When using the `fog_key_pair` resource with `fog:Rackspace`, and the key is being created for the first time, I'm getting the following warning (note the log output is also missing a path, it just ends in "key at..."):
[code]

The resource in question is:
[code]

This appears to be coming from `fog/lib/fog/rackspace/requests/compute_v2/create_keypair.rb`:
[code]

This is being called from chef-pro

[2015-10-04 13:11] martinb3 opened #130 "fog:Rackspace uses servers#create, which only allows a key name"
Hey! So I'm working on a PR that adds a Rax-specific example of this driver, and I've tripped over something. This driver uses [servers#create](https://github.com/fog/fog/blob/master/lib/fog/rackspace/models/compute_v2/server.rb#L248) which requires a named keypair already be created on the account.

Taking a survey of what other tools use to create nodes at Rackspace using fog, I found two differ

[2015-10-04 17:33] jjasghar commented on #128
I don't think anyone has asked for it yet, but if you can it bootstrapped I can help you out too. We're trying to get examples on the README also now, so if you do get it working please add the needed information.

[2015-10-04 17:33] jjasghar commented on #124
@martinb3 can you help out here? I'm not too well versed with RackConnect.

[2015-10-04 17:35] jjasghar commented on #122
Interesting. I like this idea, but this seems like something on the `chef-provisioning` side, not the `chef-provisioning-fog` driver. Maybe you can [open an issue](https://github.com/chef/chef-provisioning/issues) on `chef-provisioning`? Please close this if you're ok with that.

[2015-10-04 17:37] jjasghar commented on #119
:-O so yeah we need to get that updated....is there a fix on the fog.io side? It looks like they have removed DO completely?  Thoughts?

[2015-10-04 17:42] jjasghar commented on #106
I'll get this PR in ASAP. this seems like pretty easy fix.

[2015-10-04 17:45] jjasghar commented on #26
Please reopen this if it's still relevant, we're on chef server 12+ now.

[2015-10-04 17:45] #26 closed

[2015-10-04 21:58] martinb3 commented on #124
@djoos can you let us know if you're using RackConnect v2 or v3? It seems like it would be better to add this functionality into fog than maintain it in knife-rackspace, kitchen-rackspace, chef-provisioning-fog, etc. Just reading https://github.com/fog/fog/issues/1507 though, it seems like it's a tricky problem for fog as well, since it requires knowledge of not just Compute APIs but also some of

[2015-10-05 07:44] djoos commented on #124
Hi @martinb3,

sure: we're making use of RackConnect v2.

Thanks in advance!

Kind regards,
David

[2015-10-05 13:26] bryanl commented on #119
I pushed a bunch of updates to fog to add support for our v2 compute last week. It'll eventually make it into a release, but it is in master. I didn't use droplet_kit because I didn't want to introduce any more dependencies to fog. Let me know if I can be of any assistance.

[2015-10-05 13:28] mdarby commented on #124
RackconnectV3 is in the `rackconnect` gem and will likely not be pushed into fog proper. Rackconnect V2 status is off the radar as focus is on V3.

[2015-10-05 14:45] jjasghar commented on #119
:metal: that's awesome @bryanl . I'll take a look at the commits and put my .02 in where relivant. If we're good I'm betting i can convince @tyler-ball to get a release sooner then later.

[2015-10-05 14:50] hh commented on #119
:metal: :hand:  woohoo!

[2015-10-05 14:50] hh commented on #119
:metal: :hand: woohoo!

[2015-10-05 19:37] martinb3 commented on #124
@djoos It sounds like if the support isn't going to be in fog for RCv2, your best bet is probably to upgrade to the latest version when the time comes.

If the support isn't in fog, I don't think we're going to be able to do a whole lot to assist in chef-provisioning-fog. I'll keep poking around, and post any updates if I get them.

[2015-10-06 17:30] djoos commented on #124
Thanks for the update!

Unfortunately there's no upgrade path from RackConnect v2 to v3 (yet), so there might well be some other people who will stumble upon this thread with a similar issue...

As a workaround we make use of the transport_address_location => :private_ip (+ deprecated use_private_ip_for_ssh => true) to get round the RackConnect public IP change. I mentioned that initially I though

[2015-10-06 17:30] #124 closed

[2015-10-12 18:36] jjasghar commented on #106
fix https://github.com/chef/chef-provisioning-fog/pull/133

[2015-10-12 18:57] #106 closed

[2015-10-13 18:44] jjasghar commented on #119
@tyler-ball Sounds like we need a release here :metal:

[2015-10-13 18:47] tyler-ball commented on #119
@jjasghar ping me when you have time and I'll show you how to get a release together!  Its mostly captured in https://github.com/chef/chef-provisioning-aws/blob/master/CONTRIBUTING.md#release-process but we need to add how to update the CHANGELOG and move those instructions into the base chef-provisioning project

[2015-10-29 01:55] hh commented on #119
https://github.com/fog/fog/tree/v1.35.0 is released and includes Digital Ocean API V2 support.

[2015-10-29 02:08] jjasghar commented on #119
I pushed out a new release of `chef-provisioning-fog` with no version constraint of `fog`. @hh does that resolve this issue?

If so, can you update the docs with an example of using the V2 for DO?

[2015-10-29 03:12] hh commented on #119
I think it's going to be more complex than that. There are different keys etc and params to pass to the fog driver.

[2015-10-29 03:14] hh commented on #119
https://github.com/fog/fog/blob/master/lib/fog/digitalocean/examples/getting_started.md still shows doc for v1

[2015-10-29 03:17] hh commented on #119
Looks like we need to update to use https://github.com/fog/fog/blob/master/lib/fog/digitalocean/compute_v2.rb

[2015-10-29 03:19] hh commented on #119
The new driver_opitons are basically :digitalocean_token

https://github.com/fog/fog/blob/master/lib/fog/digitalocean/compute_v2.rb#L64

[code]

[2015-10-29 03:24] hh commented on #119
Looks like we have an entirely new DigitalOceanV2 class:

https://github.com/fog/fog/blob/v1.35.0/lib/fog/digitalocean/compute_v2.rb#L5

[code]

[2015-10-29 04:45] hh commented on #119
#139 doesn't work yet, but it's slowly getting there. I can't work on this much at the moment, but I gave it a go tonight.

[2015-10-29 04:46] hh commented on #119
#139 currently is mismatching on the _id versus _name etc on the bootstrap_options. Should be pretty straightforward to clean up.

[2015-10-29 13:58] hh commented on #119
#139  now contains a working spike:

[code]

[code]

[2015-10-29 14:19] hh opened #140 "machine_image support for digitalocean"

[2015-10-29 14:20] hh commented on #119
Now for #140 so we can machine_image on do!

[2015-11-09 02:51] marek-knappe opened #142 "NameError: uninitialized constant Chef::Provisioning::FogDriver::Driver::Cheff"
https://github.com/chef/chef-provisioning-fog/commit/72915586b1343b09926fb9344ea9905646e84628
Look at my comment in the file, there is Cheff instead of Chef:log

[2015-11-09 15:33] #142 closed

[2015-11-09 15:33] randomcamel commented on #142
Good catch. Just fixed it in master.

[2015-11-09 18:12] randomcamel commented on #142
@marek-knappe FYI, just released 0.15.3 with this fix.

[2015-11-22 18:37] bdangit opened #145 "machine names do not appear to be idempotent"
If I have manually allocated a machine called "foo" and converge a chef recipe that has resource `machine 'foo'`, then I expect chef to know that my machine named "foo" exists from my cloud provider and understands that it needs to bootstrap it to Chef and do allthethings necessary to be managed by Chef.

We are currently running into an issue where we have pre-allocated the machines but the Chef

[2015-12-08 20:13] boldandbusted opened #148 "HOWTO or other doc for working with Fog-based providers (SoftLayer)"
Howdy. I'm new to Chef, but not new to systems administration, so I'm not dumb, but I am ignorant. ;) I've read through the docs here and in chef-provisioning, and some of the source code, but I'm having a hard time figuring out how to tie everything together to just make a machine on SoftLayer. Presently, SoftLayer seems to be the "red headed stepchild" in Chef Provisioning, but I'm happy to use

[2015-12-08 20:17] jjasghar commented on #148
Hi @boldandbusted !

Luckily it looks like you have a [provider for Softlayer](https://github.com/chef/chef-provisioning-fog/blob/master/lib/chef/provisioning/fog_driver/providers/softlayer.rb) already.

It you take a look at: https://github.com/jjasghar/chef-provisioning-fog-example you can see the difference between digital ocean and openstack.

I have no experience with Soflayer so i'm not sure

[2015-12-08 20:26] jjasghar commented on #148
Oh! And I also have [this blog post](http://jjasghar.github.io/blog/2015/09/25/chef-provisioning-fog-step-by-step-day-by-day/) which might help too.

[2015-12-08 20:31] boldandbusted commented on #148
@jjasghar Ah, yes, that post is one of my prime sources! ;) Thanks for publishing that.

I'm not sure, just from looking at that SoftLayer provider code, what is "internal code" vs. what is exposed to me for use as a end-user of that code.

[2015-12-08 20:34] jjasghar commented on #148
Yeah sorry, i'm not a great resource for this. I'll ask around, and maybe a post to the discourse.chef.io asking for people with softlayer experience might help drum up some interest.

I wish i could help more, but I just don't have exposure. :(

[2015-12-08 20:39] boldandbusted commented on #148
@jjasghar No problem! Just your interest and helpful approach got me far. :)

[2015-12-09 17:20] jjasghar commented on #128
@aberrios85 any chance you've worked/made any progress on this?

[2015-12-14 20:28] jjasghar opened #150 "[softlayer] create and delete networks with chef-provisioning-fog"
@cphrmky
After reading through [networking](https://github.com/fog/fog-softlayer/blob/master/examples/network.md) for fog-softlayer, the ability to create and destroy networks would help out the user's provisioning scripts.

[2015-12-14 20:30] jjasghar opened #151 "[softlayer] create and delete storage with chef-provisioning-fog"
@cphrmky
After reading through [storage](https://github.com/fog/fog-softlayer/blob/master/examples/storage.md) for fog-softlayer, the ability to create and destroy storage containers would help out the user's provisioning scripts.

The ability to upload a file from another location to the created container would be a nice to have.

[2015-12-15 00:43] diegobill commented on #123
:+1:

[2015-12-15 17:00] jjasghar commented on #123
I guess this is still an issue. I'll attempt to build a xen server today to try to repo this.

[2015-12-15 17:16] jjasghar commented on #123
Looking at the code, [this](https://github.com/chef/chef-provisioning-fog/blob/master/lib/chef/provisioning/fog_driver/providers/xenserver.rb#L66-L72) is the only reference to `:affinity`.

My guess is that [this save](https://github.com/chef/chef-provisioning-fog/blob/master/lib/chef/provisioning/fog_driver/providers/xenserver.rb#L64) is out of order? I'm looking for a Xen instance to test agains

[2015-12-15 20:25] diegobill commented on #123
@jjasghar, how can i test? What command to execute?

[2015-12-15 20:32] jjasghar commented on #123
@diegobill that's a great question. I guess because you :+1:'d the issue you saw it. I created https://github.com/jjasghar/chef-provisioning-fog-example which covers digitalocean and openstack, maybe you can change the recipes for xen? If you do, I'd love to see xen support, and more then willing to accept a PR, in that repo too.

You'll have to probably check out the this repo, run `bundle instal

[2015-12-15 20:52] jjasghar commented on #123
@kongslund do you have any thoughts on this?

[2016-01-04 03:35] kongslund commented on #123
Seems like the Fog XenServer API has changed?

I am not actively working with XenServer at the moment and do not have the opportunity to investigate further. Chef DK 0.9 may do the trick for now.

[2016-01-06 22:16] ckaushik opened #153 "Logging to files instead of stdout"
I am using machine_batch to spin up hundreds of instances in parallel. The chef provisioning log is too cluttered because of this and I would like to have logs from different instances go to separate log files.

chef provisioning has config[:stream_stdout] and config[:stream_stderr] as options we can pass in when creating Transport SSH object. But we need fog driver to open files, pass it to trans

[2016-01-19 21:33] ckaushik opened #154 "destroy_machines fails to delete chef objects when server is not found at reference"
If a given server is not present in Openstack, the destroy_machines should still go ahead and delete the chef node and client.

But since the server is not found, fog driver tries to use ConvergenceStrategy::InstallSh, with machine_options[:converge_options] at
https://github.com/chef/chef-provisioning-fog/blob/master/lib/chef/provisioning/fog_driver/driver.rb#L247

This is causing the chef run to

[2016-01-29 15:19] maxlinc commented on #104
You just find by name. Lots of projects do this already, for example see this PR to knife-openstack:
https://github.com/chef/knife-openstack/pull/120

[2016-01-29 15:20] jjasghar commented on #104
@maxlinc thanks for this, yeah, to what @bdangit says this would be pretty hard in general. Going to close this.

[2016-01-29 15:20] #104 closed

[2016-02-02 10:36] jjasghar commented on #150
@cphrmky any progress here?

[2016-02-02 10:36] jjasghar commented on #151
@cphrmky any progress here?

[2016-02-02 10:37] jjasghar commented on #148
Going to close this because #150 and #151 are the first steps to getting this done. /cc @cphrmky

[2016-02-02 10:37] #148 closed

[2016-02-02 10:45] #90 closed

[2016-02-02 17:23] cphrmky commented on #150
Hi @jjasghar ,

This exists, I think clarity is needed depending on how you're defining "networks".  You mean acutal VLANs in the SDN sense?  Or subnets in the "hey-I-need-an-IP-address" sense?  Also, there are "global IP addresses" which are a special and fun SLayer hack that allow you to move a single IP address (v4 or v6 take your pick) in isolation around to any SLayer datacenter at any time.

[2016-02-02 19:14] cphrmky commented on #151
@jjasghar ,

The ability to create and destroy storage containers exists with fog-softlayer already.

Second item from [storage](https://github.com/fog/fog-softlayer/blob/master/examples/storage.md#use-the-models) shows how to create a directory or container.

Are you looking for me to implement something that ties this together in chef-provisioning-fog itself?

[2016-02-03 10:59] jjasghar commented on #150
Ah, ok. As long as there is basic support until someone explicitly asks for it, I think we're fine. Though we do have a `examples/` directory, can you add a simple example and update the README with the support?

[2016-02-03 11:00] jjasghar commented on #151
I think I'm just looking for documentation on what we have and if there was any interest in adding more features. You can see what I'm specifically asking for in #150.

[2016-02-03 11:00] #151 closed

[2016-02-13 00:25] eclansky commented on #123
I'm getting the dreaded 'ERROR: ArgumentError: affinity is required for this operation'
when trying to create a vm with 'knife xenserver vm create' also...no luck, anybody have a solution or ideas?

[2016-02-15 19:38] causton81 opened #161 "ea3ae05cb8150701ca26ae66052e57530415eff1 changes server.state to server.status for all fog drivers"
fog-softlayer at least does not define a `status` method. Do the other fog drivers work okay with latest master?

[2016-02-15 20:21] jek-a commented on #161
No, I have the same problem with EC2 driver after merging [#155](https://github.com/chef/chef-provisioning-fog/pull/155) pull request into the master.

[2016-02-15 20:39] jjasghar commented on #161
Oh, interesting. I'll put some time this week to resolve this. Thanks for the reports.

[2016-02-15 20:41] jjasghar commented on #161
I'm betting @hh already removed this? https://github.com/chef/chef-provisioning-fog/pull/160 any chance y'all can give this a shot?

[2016-02-15 20:41] jjasghar commented on #161
Resolved not removed. Stupid autocorrect.

[2016-02-15 20:59] causton81 commented on #161
Seems about right. I'll give it a shot.

[2016-02-15 21:40] jek-a commented on #161
I think that @hh fixed the [server.rb](https://github.com/fog/fog/blob/master/lib/fog/openstack/models/compute/server.rb) for the openstack driver, but the fog [driver.rb](https://github.com/chef/chef-provisioning-fog/blob/master/lib/chef/provisioning/fog_driver/driver.rb) still have `status` method

[2016-02-15 22:23] jek-a commented on #161
The EC2 driver works after the [#160](https://github.com/chef/chef-provisioning-fog/pull/160).

[2016-02-15 22:25] causton81 commented on #161
Yes, seems okay after #160.

[2016-02-15 22:44] jjasghar commented on #161
Awesome! I'll get it released for tomorrow. Any chance I can get y'all to write examples like what we have for Rackspace/OpenStack/Digital Ocean?

It would be great to have them for EC2 and Softlayer.

[2016-02-15 22:51] causton81 commented on #161
I will plan to add examples with #149, but waiting on fog-softlayer PR to go thru first.

[2016-02-15 23:10] jjasghar commented on #161
Awesome @caustin81. We have a "standard" way for examples now, so copypasta and change specifics everything should be perfect.

[2016-02-16 15:49] jjasghar commented on #161
@jek-a can i convince you to do the EC2 example documentation? You can cargo cult this https://github.com/chef/chef-provisioning-fog/commit/5c04061788fc2ff204bba8faf04fcd7dc2a34015 commit as an example.

/cc @causton81 for a template

[2016-02-16 18:55] jek-a commented on #161
Sure, I can do it.

[2016-02-16 21:05] jjasghar commented on #161
Waiting for https://github.com/fog/fog/pull/3849

[2016-02-17 15:50] jjasghar commented on #161
Check #160 for a temp work around if https://github.com/fog/fog/pull/3849 isn't merged "quickly."

[2016-02-17 19:49] jjasghar commented on #161
https://github.com/chef/chef-provisioning-fog/pull/164 when the new fog gem is released.

[2016-02-17 23:26] jjasghar commented on #161
When Fog does another release I'll cut a new gem. Master should be working now though. Please :+1: this if you can.

[2016-02-18 21:06] jjasghar opened #166 "[google] chef-provisioning-fog doesn't delete the disk in GCE"
It seems when i run the typical delete, the disk isn't removed.

[code]

Then attempting to recreate:

[code]

Not sure if the delete or something isn't being called correctly. But this is just to track this ?bug?.

[2016-02-18 23:03] jjasghar commented on #166
@kri5 can you take a look at this too? It seems that we should be able to delete the disk if we want to. Maybe a flag to turn it on/off?

[2016-02-18 23:11] kri5 commented on #166
@jjasghar i think it's the expected behaviour, as you do not want to destroy any data by default, but maybe you could use this to enable/disable this based on a flag https://github.com/fog/fog-google/blob/master/lib/fog/google/models/compute/server.rb#L165 .

I won't be able to look at this atm.

[2016-02-18 23:12] jjasghar commented on #166
Ah cool, thats more or less what i was expecting. I just wanted to double check, thanks for the info!

[2016-02-19 04:43] jjasghar commented on #161
any luck on verifying this? /cc @jek-a @causton81

[2016-02-19 04:46] jjasghar commented on #150
Waiting for https://github.com/chef/chef-provisioning-fog/pull/149 to be merged, which'll add the examples per @ causton81

[2016-02-19 04:46] #150 closed

[2016-02-19 04:51] causton81 commented on #161
Sorry, was busy today. Will try tomorrow AM.
On Feb 18, 2016 10:43 PM, "JJ Asghar" <notifications@github.com> wrote:

[2016-02-19 21:42] causton81 commented on #161
:+1:

[2016-02-19 22:03] jjasghar commented on #161
Awesome, I'll open an issue to track the docs for @jek-a and close this.

[2016-02-19 22:03] #161 closed

[2016-02-19 22:04] jjasghar opened #168 "EC2 documentation"
@jek-a is going to take care of some EC2 documentation for chef-provisioning-fog. Thanks!

[2016-02-21 00:42] jjasghar commented on #128
pinging @aberrios85 to see if you've made any progress :+1:

[2016-02-21 00:44] jjasghar commented on #123
@eclansky lovely. Can you debug any farther on this? I don't have access to xen server.

Not to mention we need to document the way to use xen server with c-p-fog.

[2016-02-21 00:45] #122 closed

[2016-02-21 00:46] #42 closed

[2016-02-21 00:46] #35 closed

[2016-02-21 00:48] #108 closed

[2016-02-21 00:48] jjasghar commented on #100
been updated to v2.

[2016-02-21 00:48] #100 closed

[2016-02-22 04:19] jek-a commented on #168
I will do it on this week. I'm little busy now. I don't use AWS as a cloud provider, I use our corporate cloud as a cloud provider, becuase it supports EC2 API. Although, I don't use `knife.rb`. I use AWS approach `~/.aws/config` and `~/.aws/credentials` to store: `aws_access_key_id`, `aws_secret_access_key`. With that approach you can work with multiple accounts. I tried to use `knife.rb`, but I

[2016-02-22 17:17] jjasghar commented on #168
@jek-a awesome thanks. Any documentation that i can verify then merge is what i'm looking for.

If it's only done via `.aws/config` and `.aws/credentials` so be it. Anything right now is better then nothing.

And we do have a "standard" way of the documentation now, something like: https://github.com/chef/chef-provisioning-fog/pull/163

[2016-02-22 22:29] username-is-already-taken2 opened #170 "[softlayer] NoMethodError: undefined method `status'"
Hi there

I wanted to contribute a working example for softlayer so I went to create one this evening.

I've got it provisioning the machines but its failing with this error at the very end.

`NoMethodError
    -------------
    undefined method status for #<Fog::Compute::Softlayer::Server:0x007fd781e9bac8>`

It successfully initiates the new instance on softlayer

Here is my stack trace

[code]

[2016-02-22 23:10] jjasghar commented on #170
ah yes. Are you checking out master? If not, can you roll back to https://github.com/chef/chef-provisioning-fog/releases/tag/v0.15.3 the newest one on github is broken. I'm waiting on fog to release a new version to get the fix in.

[2016-02-24 16:43] jjasghar commented on #170
@username-is-already-taken2 any chance you've taken a look here? I'm going to close this per the statement above, if not, don't hesitate to reopen this issue.

[2016-02-24 16:43] #170 closed

[2016-02-24 18:57] jjasghar commented on #168
@jek-a can you add https://github.com/chef/chef-provisioning-fog/pull/120 as part of your documentation? Thanks!

[2016-02-24 23:16] jjasghar commented on #130
@martinb3 when you get some time in the near future mind syncing with me on this? I don't think this is still relevant, but I'd like to confirm.

[2016-02-24 23:18] jjasghar commented on #118
resolved via #93

[2016-02-24 23:18] #118 closed

[2016-02-24 23:19] jjasghar commented on #92
I havent been able to repo this, and it's probably been taken care of upstream. If not please reopen it :)

[2016-02-24 23:19] #92 closed

[2016-02-24 23:20] jjasghar commented on #145
@bdangit is this still an issue? If so please reopen this issue.

[2016-02-24 23:20] #145 closed

[2016-02-25 13:11] martinb3 commented on #130
Hey sure! I'm not sure which way is the right answer here, though. @mdarby do you have any thoughts about which is better?

[2016-02-25 15:09] mdarby commented on #130
I don't honestly; I'd be concerned about breaking existing libs.

[2016-02-29 19:04] pealthoff commented on #123
I changed my fog version (1.35.0 -> 1.34.0) and fog-core (1.35.0 -> 1.32.1), then the error stoped.

[2016-02-29 19:09] jjasghar commented on #123
Ah so this is something on the fog side? Any chance you've looked at the diffs to see what changed?

We split out the openstack portion of to fog-openstack now, so we could probably do an upstream patch to fix this.

I'll take note of the differences here too.

[2016-02-29 19:10] jjasghar commented on #123
Oh woah!

This was Xen not OpenStack, sorry about that.

[2016-02-29 19:14] jjasghar commented on #123
We may have to wait for upstream to fix this if @pealthoff is correct on this. Lets see if we get more reports.

[2016-02-29 20:41] jjasghar commented on #123
Confirmed from upstream.

[2016-03-10 18:34] chilicheech commented on #170
Ah. Nice find. I just ran into this problem using the latest chefdk:
[code]

[2016-03-10 18:36] jjasghar commented on #170
Yep, @chilicheech this won't be fixed till the next release of Fog. https://github.com/fog/fog/pull/3849

[2016-03-10 18:37] chilicheech commented on #170
Nice, thanks for the update.

[2016-03-10 18:37] jjasghar commented on #168
@jek-a any progress here?

[2016-03-10 18:54] username-is-already-taken2 commented on #170
Thanks very much, I'll submit a pull request with a softlayer example when it's out

Sent from Outlook Mobile<https://aka.ms/qtex0l>

On Thu, Mar 10, 2016 at 10:36 AM -0800, "JJ Asghar" <notifications@github.com<mailto:notifications@github.com>> wrote:

Yep, @chilicheech<https://github.com/chilicheech> this won't be fixed till the next release of Fog. fog/fog#3849<https://github.com/fog/fog/pull/3

[2016-03-28 21:08] chilicheech commented on #170
@jjasghar I'm still getting this issue with chefdk 0.12.0. There's a new fog gem '1.38.0'. I believe that PR was merged. Do you know what might be going on?

[2016-03-28 21:56] jjasghar commented on #170
yep, i'm attempting to release the gem today. But I've verifying both DO and OpenStack before i can release.

[2016-03-28 22:42] jjasghar commented on #170
So interestingly enough on DigitalOcean i get this now:

[code]

It seems the alias isn't working.

[2016-03-28 23:27] jjasghar opened #172 "[digitalocean] no method state"
With the newest release of fog 1.38.0, this error has reappeared:

[code]

[2016-03-28 23:30] jjasghar commented on #170
I'm moving this to https://github.com/chef/chef-provisioning-fog/issues/172 now. I'm holding off releasing until DigitalOcean is fixed.

[2016-03-28 23:46] jjasghar commented on #172
This right [here](https://github.com/fog/fog/blob/master/lib/fog/digitalocean/models/compute_v2/server.rb#L16) was supposed to fix this, but it looks like it hasn't.

[2016-03-29 00:22] jjasghar commented on #172
https://github.com/chef/chef-provisioning-fog/pull/173 is a work around.

[2016-03-29 21:08] jjasghar commented on #168
@jek-a ping :smile_cat:

[2016-03-30 17:44] jjasghar commented on #168
https://github.com/chef/chef-provisioning-fog/pull/175 Resolves what I was looking for.

[2016-03-30 17:44] #168 closed

[2016-03-30 19:50] #172 closed

[2016-04-11 06:51] SympaHannuPiki opened #178 "Rackspace RackConnect v3 support"
Hi there,

it would be awesome if Rackspace driver supports RackConnect v3 on some day. Currently driver is creating server as it should, but it can't find suitable IP address at the moment when server goes up nor afterwards when trying to re-run provision scripts.

[code]

I already found issue #124 where one workaround was mentioned, but that didn't work out for me at least.

Let see how things

[2016-04-11 15:33] jjasghar commented on #178
Pinging @martinb3 , do you know anyone who can make this happen for @SympaHannuPiki ? I have little to no exposure to RackConnect :(

[2016-04-16 00:00] tatemz opened #179 "fog_key_pair fails with password protected ssh key"
I kept getting errors while working with the DigitalOcean driver.

Here was my basic setup:

[code]

There were various errors with fog_key_pair from [this line](https://github.com/chef/chef-provisioning-fog/blob/master/lib/chef/provider/fog_key_pair.rb#L158) and [this line](https://github.com/chef/cheffish/blob/master/lib/cheffish/key_formatter.rb#L74).

I don't have a full debug output yet, as I

[2016-04-16 16:49] jjasghar commented on #179
If i'm reading this this correctly just doesn't work, correct?

If so, I'm more then willing to put a note in the README about not using it, tbh, i don't think I ever have used it myself.

[2016-04-18 03:28] tatemz commented on #179
Yeah. it gives an error specific to `key_type` not being an available type from cheffish.

[2016-04-18 09:46] gau1991 opened #180 "[openstack] No Method Error: undefined method `status'"
Hi,
While using FOG OpenStack drivers got following error:
[code]

[2016-04-18 17:09] jjasghar commented on #180
Hi!

What version of the gem do you have installed?  https://github.com/chef/chef-provisioning-fog/issues/170 i think is related, and I thought we fixed this.

[2016-04-18 17:10] jjasghar commented on #180
https://github.com/chef/chef-provisioning-fog/blob/master/CHANGELOG.md#0180-2016-03-30

[2016-04-18 17:11] jjasghar commented on #179
awesome thanks. It would be nice to have support for this, but if this is just clarification in the README, could you put in a PR to fix the doc? :metal:

[2016-04-24 09:42] gau1991 commented on #180
@jjasghar ,
Sorry for delayed reply,
Yes issue is fixed by updating chef-provisoning-fog gems,

[2016-04-24 09:42] #180 closed

[2016-04-26 22:25] martinb3 commented on #178
@SympaHannuPiki While this isn't directly related, are you running your provisioning node also on the same RCv3 network? Or from another external source?

I'm assuming the main issue is going to be that we'd need to teach the fog driver to (a) wait for RC automation and (b) use the RCv3 APIs to lookup the appropriate IP address to access the new server.

[2016-05-04 22:44] razor-x opened #182 "Using bootstrap_options for DigitalOcean breaks on versions > 0.16.0"
The below will work on chef-provisioning-fog v0.16.0, but fails on v0.17.0 and v0.18.0 with

[code]

[code]

Looks like chef-provisioning-fog v0.17.0 uses fog v1.38.0 which I believe made a breaking change that is causing this error.

Seems like [line 75 in lib/chef/provisioning/fog_driver/providers/digitalocean.rb](https://github.com/chef/chef-provisioning-fog/blob/v0.18.0/lib/chef/provisioning/f

[2016-05-04 22:48] jjasghar commented on #182
Lovely. If you have a PR/fix i'm all ears. Otherwise I'll have to circle back here at some point.

[2016-05-04 23:01] razor-x commented on #182
@jjasghar Right. Ran out of time to dig though it any more today, and figured I'd writeup what I had so far. Just looking at [the diff](https://github.com/fog/fog/compare/v1.37.0...v1.38.0), 1.38.0 touched a lot of the DO stuff, including the ssh_key parts. Maybe someone more familiar with the Compute libs can spot what happened.

[2016-05-09 05:45] SympaHannuPiki commented on #178
@martinb3, sorry for late answer. Answer is yes, if dedicated server and it's network is counted as RCv3 network as it is connected to the target cloud.

[2016-06-01 22:41] chrodriguez opened #183 "xenserver provider not working against xenserver 6.5"
I've been playing around with chef-provisioning-fog using xenserver provider and it seems to be broken. In fact, the current implementation is outdated as mentioned [in fog-xenserver issue 53](https://github.com/fog/fog-xenserver/issues/48)

There is an other issue #123, I believe it is related with this issue...

I'll try to modify this provider to be compatible with newer versions of xen api

[2016-06-01 22:42] tromenskaya commented on #183
This is an automatically generated message.

tatyana@yahoo-inc.com is no longer with Yahoo! Inc.

Your message will not be forwarded.

If you have a sales inquiry, please email yahoosales@yahoo-inc.com and someone will follow up with you shortly.

If you require assistance with a legal matter, please send a message to legal-notices@yahoo-inc.com

Thank you!

[2016-06-02 14:43] #183 closed

[2016-06-02 14:45] jjasghar opened #185 "Add example for Xenserver"
@chrodriguez Can you add an example in the example directory? Thank you for the follow through on the documentation!

If not, I can take a stab at it, and would love your eyes to verify.

[2016-06-02 15:13] jjasghar commented on #185
https://github.com/chef/chef-provisioning-fog/pull/186 :)

[2016-06-02 21:56] #185 closed

[2016-06-07 00:20] hh opened #188 "max_wait_time for ready_image => wait_until_image is hard coded to 10 minutes"
We should increase it to 30 minutes (or 60) until we have a reasonable way to set it to something higher via the machine_image resource. Currently on Rackspace Private Cloud backended with CloudFiles for image storage, even 40gb images can take 35-45 minutes.

Here is the hardcoding:

[code]

And here is the call chain:

[code]

[2016-06-07 15:26] jjasghar commented on #188
@hh maybe make that an option you can manipulate? Have it default to 10 mins but then allow you to bump if needed?

[2016-06-08 23:53] jjasghar commented on #182
Hmmm, ok, so are you suggestion to revert https://github.com/fog/fog/commit/a2c94a8c3f63c66f41ebf16417a4cf7e47065d70 @IvanChepurnyi ?

I'm not 100% sure what to do here.

[2016-06-09 06:53] IvanChepurnyi commented on #182
You need to exclude  v1.38.0 of fog from dependencies. As  v1.37.0 does not have this bug. Also  v1.39.0 will have the problem fixed, according to the commits history, but it is not released yet.

[2016-06-17 15:41] hh opened #189 "Openstack.compute_options_for should load :openstack_* from FOG_RC"
[FOG_RC and FOG_CREDENTIALS](http://fog.io/about/getting_started.html) allows us to specify a yaml file and section to load FOG creds from.

[code]

Currently [Openstack.compute_options_for](https://github.com/chef/chef-provisioning-fog/blob/master/lib/chef/provisioning/fog_driver/providers/openstack.rb#L40) only loads four options:

[code]

While [Fog::Compute::OpenStack.authenticate_*](https://g

[2016-06-17 16:00] hh commented on #189
I'm working on adding openstack to https://github.com/chef-cookbooks/delivery-cluster/pull/217 and came up with this function, which will require ```with_driver DRIVER, opts``` but not if we move this logic into [Chef::Provisioning::FogFDriver::Providers::Openstack.compute_options_fog](https://github.com/chef/chef-provisioning-fog/blob/master/lib/chef/provisioning/fog_driver/providers/openstack.rb

[2016-06-17 19:15] hh commented on #188
Would probably be fine as an option.

[2016-06-17 19:50] #189 closed

[2016-07-29 07:49] 01sas opened #191 "DigitalOcean fog driver does not work"
DigitalOcean fog driver does not work. See details [here](http://stackoverflow.com/questions/37880345/spawning-digital-ocean-machines-using-chef-provisioning/38635911#38635911) and [here](https://github.com/fog/fog/issues/3869). But the core problem is already fixed in [fog-digitalocean](https://github.com/fog/fog-digitalocean/). Actually they extract DigitalOcean into a separate project. So I thi

[2016-07-29 07:52] tromenskaya commented on #191
This is an automatically generated message.

tatyana@yahoo-inc.com is no longer with Yahoo! Inc.

Your message will not be forwarded.

If you have a sales inquiry, please email yahoosales@yahoo-inc.com and someone will follow up with you shortly.

If you require assistance with a legal matter, please send a message to legal-notices@yahoo-inc.com

Thank you!

[2016-08-01 16:59] jjasghar commented on #191
Yep, we've had some issues back and forth with DO and this gem. I'm going to spend some time walking through all these issues again.

[2016-08-01 17:56] jjasghar commented on #191
I was able to get the gem to work:
[code]

https://github.com/chef/chef-provisioning-fog/pull/192

I think this breaks something else though. I'm looking for the issue now.

[2016-08-01 18:01] jjasghar commented on #191
Ah yes.

https://github.com/chef/chef-provisioning-fog/issues/170

So 1.37.0 of the gem changes the `status` method for everything. It broke everything and I mean everything if you look at https://github.com/chef/chef-provisioning-fog/issues/170. To you point it was fixed but not really.

My best suggestions is to do what i did in #192 and do a bundle exec to use DO.

the `fog-digitalocean` gem is

[2016-08-01 18:01] #191 closed

[2016-08-01 18:02] jjasghar commented on #182
You should be able to work with what I said in https://github.com/chef/chef-provisioning-fog/issues/191.

Please reopen if it still continues.

[2016-08-01 18:02] #182 closed

[2016-08-01 18:04] jjasghar commented on #72
I don't think this is relevant anymore. If it is please reopen.

[2016-08-01 18:04] #72 closed

[2016-08-01 18:05] jjasghar commented on #52
I don't think this is relevant anymore. If it is please reopen.

[2016-08-01 18:05] #52 closed

[2016-08-01 18:05] jjasghar commented on #70
I don't think this is relevant anymore. If it is please reopen.

[2016-08-01 18:05] #70 closed, assigned to nobody

[2016-08-02 17:34] jjasghar commented on #191
@01sas i believe this should fix your issue now: https://github.com/chef/chef-provisioning-fog/pull/193 I should be pushing this today.

[2016-09-29 15:10] baurzhan-konurbayev opened #196 "Problem with converging instances when keypair is missing"
Hello,

I am using chef-provisioning-fog to converge Openstack instances.
I am getting error message:

I don't have keypair named 'test_keypair, but I have root ssh access to the instances.

Could you, please, suggest how to deal with this situation?
Can chef-provisioner accept the key that I provided in :ssh_options => :keys?
Please, see the short snippet of my provisioning configuration:

My pri

[2016-09-29 19:24] baurzhan-konurbayev commented on #196
So far, I am thinking to add private keys contents to :key_data both for key pair's private key and the one from :keys.
This way both of them will work, any other ideas?

[2016-09-29 23:30] jjasghar commented on #196
Have you tried the [simple](https://github.com/chef/chef-provisioning-fog/blob/master/examples/openstack/simple.rb) example? Has it ever worked for you?

[2016-09-29 23:37] baurzhan-konurbayev commented on #196
Thanks for answering. We do provision instances for both Openstack and AWS.
So, no need to try the simple.
We our patched gems for chef-provisioning-fog and chef-provisioning-aws.
For, chef-provisioning-fog we force usage of ssh agent before that error message. This way we can use a key for root access different from the key-pair's private key.

[2016-09-30 02:02] jjasghar commented on #196
Ah ok. I'm not 100% sure what to advise here. I'd go though removing bits and pieces of your complexity and debugging down to what's broken. There are too many environmental variables here for me to give good advice. If you have and suggestions or more thoughts please reopen this issue.

[2016-09-30 02:02] #196 closed

[2016-10-06 14:33] rneu31 opened #198 "Openstack Identity v3 support?"
The documentation does not specify if v3 is supported and I haven't been able to find any examples elsewhere. Thanks.

[2016-10-06 15:51] jjasghar commented on #198
I know I've never tested against the v3 systems. I don't have access nor an environment that supports v3.

Assuming you use the https://github.com/fog/fog-openstack with v3, there is no reason why we couldn't extend it to.

I'm more then willing to look at PRs for this, but its unlikely it'll be written by anyone at Chef in the near future.

Please reopen this if you have any other questions or th

[2016-10-06 15:51] #198 closed

[2016-10-28 14:52] elthariel opened #199 "fog-digitalocean conflicts with installed executable from fog"
On Chef 12.3.0, when install chef-provisioning-fog (chef_gem[chef-provisioning-fog]), I'm getting this error.

[code]

Maybe I should report the error to 'fog-digitalocean' gem ?

[2016-11-07 21:04] phanikumar1210 opened #201 "Unable to authenticate with OpenStack Newton project"
I have provided my auth_url, username and key for Newton OpenStack and I am getting 400 bad request. I have provided the following as my auth url **http://192.168.8.25:5000/v3/tokens** somehow it is saying unexpected token auth in the url in OpenStack log file.  Could anyone help me out on this.

[2016-11-07 21:07] jjasghar commented on #201
As you can see from the documentation:

[code]

Right now this is only tested against v2 of the API. There is a strong possiblity something has changed. If you are willing to debug and make the changes I'd love to see the PR.

[2017-01-26 01:24] hath995 commented on #83
This still seems to be an issue. I just ran into it myself.

[2017-03-04 00:29] jjasghar commented on #201
No movement, if you'd like to help I'd love to see PR, but I'm closing this due to no support.

[2017-03-04 00:29] #201 closed

[2017-03-04 00:30] jjasghar commented on #178
No movement, if you'd like to help I'd love to see PR, but I'm closing this due to no support.

[2017-03-04 00:30] #178 closed

[2017-03-04 00:30] jjasghar commented on #128
No movement, if you'd like to help I'd love to see PR, but I'm closing this due to no support.

[2017-03-04 00:30] #128 closed

[2017-03-04 00:30] jjasghar commented on #83
No movement, if you'd like to help I'd love to see PR, but I'm closing this due to no movement.

[2017-03-04 00:30] #83 closed

[2017-03-04 00:31] jjasghar commented on #153
No movement, if you'd like to help I'd love to see PR, but I'm closing this due to no movement.

[2017-03-04 00:31] #153 closed

[2017-03-20 18:53] monkey1016 opened #209 "vCair driver incompatible with Cheffish 5.0"
The change in #208 makes it incompatible with the vCloud Air driver:

[code]

What's the proper way to use `Cheffish::MergedConfig.new`?  @lamont-granquist Something in the changes to Cheffish don't mesh well with how it's being used in the vCair Driver [vcair.rb#L446](https://github.com/chef/chef-provisioning-fog/blob/master/lib/chef/provisioning/fog_driver/providers/vcair.rb#L446). I can submit

[2017-03-21 06:04] lamont-granquist commented on #209
MergedConfig is a Mash now instead of a Hash so that symbol keys are all converted to strings, and you can write either one.

[2017-03-27 06:05] abhishekdoshi opened #210 "Getting Error undefined method `location` for #Array:xxxx>"
I got error while execute Fog Provisioning for AWS. if i use aws driver, it's successfully execute , but unable to provisioning using fog:AWS driver

[2017-03-27 16:02] jjasghar commented on #210
We only have AWS in this plugin for legacy reasons, if you want AWS support you should look at the https://github.com/chef/chef-provisioning-aws instead. 🤘

[2017-03-27 16:02] #210 closed

[2017-06-01 20:55] BGmot opened #211 "AWS: ArgumentError: wrong number of arguments (given 0, expected 1..2)"
Chef Development Kit Version: 1.3.43.
Incompatibility with the latest chef-provisioning/cheffish? Any action with machine resource results in following:
[code]

[2017-07-13 20:44] grahamja commented on #211
I am getting this with Fog:OpenStack also and ChefDK 2.0.26 (I also tried going back to the last 1.X ChefDK with the same results)

Chef Development Kit Version: 2.0.26
chef-client version: 13.2.20
delivery version: master (17c1b0fed9be4c70f69091a6d21a4cbf0df60a23)
berks version: 6.2.0
kitchen version: 1.16.0
inspec version: 1.30.0

Generated at 2017-07-13 13:33:48 -0700
ArgumentError: machine[tes

[2017-07-14 06:58] thommay commented on #211
Please could one of you provide a sample recipe and how it's being run, to make a replication case easier.

[2017-07-25 22:46] chilicheech commented on #211
I get the same error on any ChefDK > 1.1.16. That's the latest one that works for me.

[2017-08-01 16:18] bbuczynski commented on #211
I gave up after trying installing different versions of chefdk, chef-provisioning-fog etc.  However I fixed the problem by creating a gem that would patch the following files:
..../ruby/gems/2.3.0/gems/cheffish-5.0.1/lib/cheffish/merged_config.rb
..../ruby/2.3.0/gems/chef-provisioning-fog-0.24.0/lib/chef/provisioning/fog_driver/driver.rb
You could patch it directly inside those files but then it b

[2017-08-21 04:41] deniskin82 opened #215 "[SoftLayer] Cannot allocate the machine to a specific vlan"
Basically when I set `:private_vlan => VLANID` under the same datacenter in bootstrap_options, a machine keeps allocating to some other random vlan.

[2017-08-22 05:14] deniskin82 commented on #215
I think I found the way to force allocation to a specific `:private_vlan` and `:vlan`. Fix is in PR #216

[2017-08-22 05:54] deniskin82 opened #217 "[softlayer] Not authorized to access `sl-post-hook.sh`"
https://github.com/chef/chef-provisioning-fog/blob/19bf727310deb147c52bec423e96a70349a008c9/lib/chef/provisioning/fog_driver/providers/softlayer.rb#L76

Getting this:
[code]

[2017-10-19 19:46] lamont-granquist commented on #199
yeah that isn't directly a bug in this repo

[2017-10-19 19:46] #199 closed

[2017-10-19 19:47] #43 closed

[2017-12-05 23:42] chilicheech opened #221 "chef-provisioning-fog with fog-openstack can't load fog"
I'm chef-provisioning-fog(0.26.0) with fog-openstack(0.1.22) and getting the following error:
[code]
It's being required here: https://github.com/chef/chef-provisioning-fog/blob/master/lib/chef/provisioning/fog_driver/driver.rb#L16

But the gem isn't installing it: https://github.com/chef/chef-provisioning-fog/blob/master/chef-provisioning-fog.gemspec
I know the above was done on purpose, but why

[2018-02-08 13:14] plribeiro3000 commented on #123
What is need to do here to close this issue? cc/ @jjasghar

[2018-02-08 17:00] jjasghar commented on #123
Stale issue, please reopen if this discussion needs to continue.

[2018-02-08 17:45] plribeiro3000 commented on #123
@jjasghar Sure. Was going over an old issue on `fog-xenserver` and realized this one was still open.

[2018-02-14 12:24] jojoger opened #223 "Provisioning with fog not possible due to json dependency of chef-client"
As chef-client pins version 1.8.6 of the JSON Gem and fog requires version ~> 2.0, it is not possible to use chef provisioning with fog:
[root@localhost ~]# chef-client -z cluster.rb
[2018-02-14T13:21:28+01:00] WARN: No config file found or specified on command line, using command line options.
[2018-02-14T13:21:28+01:00] WARN: No cookbooks directory found at or above current directory.  Assuming

[2018-03-15 14:37] mrmarbury opened #224 "undefined local variable or method 'machine_specs'"
Hi,

I get the above error when I execute `chef provision --no-policy -r ostest`

my provision recipe: (sensitive Data removed)

[code]

my knife.rb: (sensitive data  removed)

[code]
Chef Zero is running on the port and responding to requests

I hope it is just a pebkac

[2018-03-21 11:16] mrmarbury commented on #224
no idea?

[2018-06-28 08:16] mrmarbury opened #226 "corresponding private key was not found locally"
So I have created a key pair in openstack, downloaded the private key and put it into
`/home/my/repo/path/.chef/keys`

In my provisioning recipe I added:
[code]
when bootstrapping the instance the following error occurs:

[code]

I have the private key in both directories by now but it still won't work. What am I doing wrong here?

[2018-06-28 11:50] mrmarbury commented on #226
had to set `private_keys` attribute in `knife.rb`

[2018-06-28 11:50] #226 closed

[2018-08-20 21:38] tas50 commented on #224
@mrmarbury Sorry for the late response. This was fixed in 0.26.1, which is in the latest chefDK 2.x and 3.x

[2018-08-20 21:38] #224 closed

[2018-08-20 21:39] tas50 commented on #166
I'm going to close this out since our latest release no longer supports GCE due to the broken fog support for GCE.

[2018-08-20 21:39] #166 closed

[2018-08-20 21:40] tas50 commented on #44
I'm going to close this out at this point since we've removed out of the box support for fog-aws, and instead suggest provisioning users that want to configure aws use chef-provisioning-aws.

[2018-08-20 21:40] #44 closed

[2018-08-20 21:41] tas50 commented on #95
I'm going to close this out at this point since we removed support for fog-aws and instead suggest that users use fog-provisioning-aws which uses the native aws-sdk and resolves a large number of longstanding AWS issues.

[2018-08-20 21:41] #95 closed

[2018-08-20 21:41] tas50 commented on #211
I'm going to close this out at this point since we removed support for fog-aws and instead suggest that users use fog-provisioning-aws which uses the native aws-sdk and resolves a large number of longstanding AWS issues.

[2018-08-20 21:41] #211 closed

[2018-08-20 21:41] tas50 commented on #53
I'm going to close this out at this point since we removed support for fog-aws and instead suggest that users use fog-provisioning-aws which uses the native aws-sdk and resolves a large number of longstanding AWS issues.

[2018-08-20 21:41] #53 closed

[2019-03-12 12:21] mrmarbury opened #231 "cannot use "from_image" in machine resource"
How would I use the `from_image` with an Openstack image that I have created with the `machine_image` resource?

This should work according to the Chef Provisioning documentation:

[code]

But it seems that this is not implemented for chef-provisioning-fog? At least the provisioning run is complaining about:
`image_ref, block_device_mapping or block_device_mapping_v2 are required for this operatio

[2019-03-12 15:23] #231 closed, assigned to nobody

[2019-03-12 15:23] mrmarbury commented on #231
just seen that chef provisioning won't be supported as of chefdk 4 :(

[2019-10-14 23:25] dependabot-preview[bot] opened #232 "Dependabot can't parse your Gemfile"
Dependabot couldn't parse the Gemfile found at `/Gemfile`.

The error Dependabot encountered was:

[code]